.wp{
    position: relative;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin-left: -50px;
    margin-right: -50px; */
    /* margin-left: -50%;
    margin-right: -50%;*/
} 